<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCl6MOXfyUopBIlKWe04WiIMgpWH93s-OI</string>
	<key>GCM_SENDER_ID</key>
	<string>572913481064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gochecker</string>
	<key>PROJECT_ID</key>
	<string>gocheckerbr</string>
	<key>STORAGE_BUCKET</key>
	<string>gocheckerbr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572913481064:ios:6256ba46f6228cc35312dd</string>
	<key>DATABASE_URL</key>
	<string>https://gocheckerbr-default-rtdb.firebaseio.com</string>
</dict>
</plist>